# ############################### KAFKA ###############################

# General kafka props
BOOTSTRAP_SERVER=kafka.server.example.de:19092

# Kafka props per modus
MAX_POLL_RECORDS = 3

# Topics & Consumer Groups
INCOMING_TOPIC_NAME="incoming.topic.allergy"
OUTGOING_TOPIC_NAME="outgoing.topic.allergy"
CONSUMER_GROUP="allergy-grp-01"

ERROR_TOPIC_NAME="error.topic.allergy"
ERROR_CONSUMER_GROUP="allergy-grp-error-01"

# ############################### OLLAMA ###############################
OLLAMA_HOST='https://ollama.server.example:11434'
OLLAMA_MODEL ="llama3.1:70b"

VLLM_HOST='https://ollama.server.example:8000/v1'
VLLM_MODEL ="llama3.1:70b"
# ############################### GENERAL ###############################
LOG_PATH = "logs"
INPUT_PATH = "input"
EXPERIMENT_PATH = "experiment"
